body{
	font-family: 'Teko', sans-serif;
}
html{
	font-size: 10px;
}

@mixin letra($rem) {
	color: aqua;
	font-size: $rem;
}

.container{
	max-width: 1200px;
	margin: 0 auto;
}

main{
	padding: 0 20px;
	margin: 10px 0px 30px;
	min-height:calc(100vh - 233.44px);
}

h1{
	font-weight: 600;
	@include letra(4rem);
}

p{
	font-family: 'Mako', sans-serif;
	font-weight: 400;
	@include letra(2rem);
}

.lupa {
	transition: $time;
    &:hover {
	transform: scale(1.2)
}}

.zoom {
	transition: $time;
    &:active {
	transform: scale(1.6)
}}

$redes:(
	"instagram":#c92d8f,
	"facebook":#3b5998,
	"whatsapp":#25d366,
);

@each $nombre,$color in $redes {
.link-#{$nombre}{
	margin: 0 5px;
	width: 30px;
	height: 30px;
	color: whitesmoke;
	&:hover {
	color: $color;}
}
}