.f_titulo{
	font-weight: 600;
	width: 300px;
}

.titulo {
    h2{
	@extend .f_titulo;
	line-height: 60px;
	font-size:8rem;
    }
    h1 {
	@extend .f_titulo;
	font-size:4rem;
	text-align:right;
    }
}