body {
  font-family: 'Teko', sans-serif; }

html {
  font-size: 10px; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

main {
  padding: 0 20px;
  margin: 10px 0px 30px;
  min-height: calc(100vh - 233.44px); }

h2 {
  font-weight: 600;
  color: aqua;
  font-size: 4rem; }

p {
  font-family: 'Mako', sans-serif;
  font-weight: 400;
  color: aqua;
  font-size: 2rem; }

.lupa {
  transition: transform 0.3s; }
  .lupa:hover {
    transform: scale(1.2); }

.zoom {
  transition: transform 0.3s; }
  .zoom:active {
    transform: scale(1.6); }

li {
  color: aqua;
  font-size: 2rem;
  transition: transform 0.3s; }
  li:hover {
    transform: translateY(-3px); }

.f_titulo, .titulo h1, .titulo h2 {
  font-weight: 600;
  width: 300px; }

.titulo h1 {
  line-height: 60px;
  color: aqua;
  font-size: 8rem; }

.titulo h2 {
  color: aqua;
  font-size: 4rem;
  text-align: right; }

.contacto {
  font-family: 'Mako', sans-serif;
  color: aqua;
  font-size: 1.5rem; }

.foot {
  font-family: 'Mako', sans-serif;
  color: aqua;
  font-size: 1.5rem; }
